<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
       <!--  Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3307/myproject</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        
        
       <!--  SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--  JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">1</property>
        
       <!--  When an idle connection is removed from the pool (in second). Hibernate default: 0, never expire -->
        <property name="hibernate.c3p0.timeout">1800</property>
        
       <!--  let the pool periodically check a connection (Think of a ping) for it's validity -->
        <property name="hibernate.c3p0.idle_test_period">60</property>
        
        
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
       <!--  Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

       <!--  Drop the existing tables and create new one -->
        <property name="hbm2ddl.auto">create</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
 
        <!-- Mention here all the model classes along with their package name -->
       
 		<mapping class="com.models.User"/>
 		<mapping class="com.models.Category"/>
 		<mapping class="com.models.Product"/>
 		<mapping class="com.models.Address"/>
 		<mapping class="com.models.Order"/>
 		<mapping class="com.models.OrderItems"/>
 		
 		 
    </session-factory>
</hibernate-configuration>